/* ======= Common css start ======= */
a {
  text-decoration: none;
}
ul,
ol {
  list-style: none;
}
/* ======= Common css end ======= */

/* ======= Navbar css start ======= */

.navbar {
  background-color: #1c1e53;
  padding: 16px !important;
}
.navbar .navbar-nav {
  column-gap: 32px;
}

.navbar-nav .nav-item .nav-link {
  color: #bbbbcb;
  font-size: 16px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  transition: 0.4s;
  padding: 0px !important;
}
.nav-item:hover .nav-link {
  color: #ffff;
}
.navbar .Contact-us {
  background: transparent;
  color: white;
  font-size: 16px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  padding: 16px 48px;
  border: 1px solid rgba(244, 246, 252, 0.2);
  border-radius: 41px;
  margin-left: 48px;
  transition: 0.4s;
}
.navbar .Contact-us:hover {
  background-color: #fcd980;
  border-color: transparent;
  color: black;
}

/* ======= Navbar css end ======= */

/* ======= Banner css start ======= */
.banner {
  background-color: #1c1e53;
  padding-top: 126px;
  padding-bottom: 157px;
}
.banner h1 {
  color: white;
  font-size: 54px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  width: 582px;
  line-height: 74px;
}

.banner p {
  color: white;
  font-size: 16px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  width: 562px;
  line-height: 28px;
  padding-top: 24px;
  padding-bottom: 48px;
}

.banner .banner-button {
  color: #1b1c2b;
  background-color: #fcd980;
  font-size: 18px;
  font-weight: 600;
  font-family: "Manrope", sans-serif;
  padding: 16px 56px;
  border-radius: 41px;
  border: 1px solid transparent;
  transition: 0.4s;
}

.banner-button:hover {
  background: transparent;
  border-color: rgba(244, 246, 252, 0.2);
  color: white;
}
.banner-button2 {
  color: #ffff;
  font-size: 16px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  margin-left: 40px;
  position: relative;
}
.banner-button2 i {
  position: absolute;
  top: 5px;
  left: 104px;
  transition: 0.4s;
  opacity: 0;
  visibility: hidden;
}
.banner-button2:hover i {
  left: 120px;
  opacity: 1;
  visibility: visible;
}

/* ======= Banner css end ======= */

/* ======= Work css start ======= */
.work {
  padding: 128px 0px;
  background-color: #f4f6fc;
}

.work h2 {
  color: #282938;
  font-size: 48px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}
.work p {
  color: rgba(40, 41, 56, 0.7);
  font-size: 16px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  width: 405px;
  padding: 16px 0px;
}
.work a {
  color: #2405f2;
  font-size: 18px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}
.common-ani {
  position: relative;
}
.common-icon {
  position: absolute;
  top: 5px;
  right: -34px;
  transition: 0.4s;
}
.common-ani:hover .common-icon {
  right: -54px;
}

.work-box {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.work-box .item {
  width: 48%;
}
.work-box .item h4 {
  color: #282938;
  font-size: 32px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  padding-top: 16px;
  padding-bottom: 8px;
}
.work-box .item p {
  color: rgba(40, 41, 56, 0.7);
  font-size: 16px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  width: 303px;
  line-height: 28px;
  padding: 0px !important;
}
/* ======= Work css end ======= */

/* ======= Project css start ======= */
.project {
  margin: 128px 0px;
}
.project .box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 64px;
}

.project h2 {
  color: #282938;
  font-size: 48px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}
.project a {
  color: #282938;
  font-size: 16px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}
.project img {
  width: 100%;
}
.project .img3 {
  margin-top: 22px;
}
.project .img2 {
  width: 102%;
  margin-left: -7px;
}
.project .overly-ani {
  position: relative;
  overflow: hidden;
}
.overly-ani .overly {
  width: 52%;
  height: 100%;
  background-image: linear-gradient(
    to bottom right,
    rgba(28, 30, 83, 0.4),
    #1c1e53
  );
  position: absolute;
  top: 0;
  left: -52%;
  transition: 0.6s;
  padding-top: 312px;
  padding-bottom: 216px;
  padding-left: 48px;
  padding-right: 35px;
}

.overly-ani .overly h4 {
  color: white;
  font-size: 24px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  line-height: 36px;
}
.overly-ani .overly p {
  color: rgba(255, 255, 255, 0.8);
  font-size: 16px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  line-height: 28px;
  padding-top: 16px;
  padding-bottom: 20px;
}
.overly-ani .overly a {
  color: #fcd980;
}

.overly-ani:hover .overly {
  left: 0%;
}
.project .overly-ani2 {
  position: relative;
  overflow: hidden;
}
.overly-ani2 .overly2 {
  width: 100%;
  height: 50%;
  background-image: linear-gradient(
    to bottom right,
    rgba(28, 30, 83, 0.4),
    #1c1e53
  );
  position: absolute;
  top: -100%;
  left: 0%;
  transition: 0.6s;
  padding-top: 129px;
  padding-bottom: 83px;
  padding-left: 56px;
  padding-right: 36px;
}

.overly-ani2 .overly2 h4 {
  color: white;
  font-size: 24px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  line-height: 36px;
  width: 250px;
}

.overly-ani2 .overly2 a {
  color: #fcd980;
}

.overly-ani2:hover .overly2 {
  top: 0%;
}

/* ======= Project css end ======= */

/* ======= Features css start ======= */

.Features {
  background-color: #f4f6fc;
  width: 100%;
  height: 1191px;
  position: relative;
}
.Features p {
  text-align: center;
  color: #282938;
  font-size: 16px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  padding-top: 128px;
}
.Features h2 {
  color: #282938;
  font-size: 48px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  padding-top: 12px;
  line-height: 64px;
  width: 630px;
  text-align: center;
  margin: auto;
}
.Features .card-item {
  width: 405px;
  height: 316px;
  background-color: #ffff;
  position: absolute;
  top: 407px;
}
.card-item .icon {
  position: absolute;
  top: 58px;
  left: 48px;
  font-size: 32px;
}
.card-item h4 {
  position: absolute;
  top: 115px;
  left: 48px;
  font-size: 24px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}
.Features .card-item p {
  position: absolute;
  top: 39px;
  left: 48px;
  font-size: 16px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: rgb(40, 41, 56, 0.7);
  text-align: left;
}
.Features .card-item2 {
  width: 405px;
  height: 316px;
  background-color: #ffff;
  position: absolute;
  top: 747px;
}

.card-item2 .icon {
  position: absolute;
  top: 58px;
  left: 48px;
  font-size: 32px;
}
.card-item2 h4 {
  position: absolute;
  top: 115px;
  left: 48px;
  font-size: 24px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}
.Features .card-item2 p {
  position: absolute;
  top: 39px;
  left: 48px;
  font-size: 16px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: rgb(40, 41, 56, 0.7);
  text-align: left;
}

/* ======= Features css end ======= */

/* ======= Feedback css start ======= */
.Feedback {
  width: 100%;
  height: 506px;
  background-color: rgb(244, 246, 252, 0.5);
}
.Feedback h2 {
  color: #282938;
  font-size: 38px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  line-height: 56px;
  width: 327px;
  margin-top: 130px;
  margin-bottom: 16px;
}
.Feedback p {
  color: rgb(40, 41, 56, 0.7);
  font-size: 16px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  line-height: 28px;
  width: 327px;
}
.Feedback h4 {
  color: #282938;
  font-size: 32px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  line-height: 48px;
  width: 843px;
  margin-top: 130px;
  margin-bottom: 48px;
}

.Feedback .client {
  position: relative;
  margin-bottom: 130px;
}

.Feedback .client .p1 {
  color: #282938;
  font-size: 18px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  position: absolute;
  top: 0;
  left: 70px;
}
.Feedback .client .p2 {
  color: #282938;
  font-size: 12px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  position: absolute;
  top: 26px;
  left: 70px;
}

/* ======= Feedback css end ======= */

/* ======= Faq css start ======= */
.faq {
  padding: 128px 0px;
}
.faq h3 {
  color: #282938;
  font-size: 38px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  line-height: 56px;
  width: 328px;
  margin-bottom: 16px;
}
.faq a {
  color: rgba(36, 5, 242, 0.87);
  font-size: 18px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}

.accordion-header {
  margin: 15px 0px;
}
.accordion-button {
  color: #282938;
  font-size: 24px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}
.accordion-button span {
  color: #2405f2;
  margin-right: 59px;
}
.accordion-body {
  margin: 0px 84px;
  color: rgba(40, 41, 56,0.87);
  font-size: 18px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  line-height: 32px;
}
.accordion-collapsecollapseshow {
  border-width: 0px !important;
}
.accordion-button {
  background: transparent !important;
}
.accordion-item {
  border: 1px solid transparent !important;
}
.accordion-button::after {
  background: 0 !important;
  content: "+";
}
.accordion-button:not(.collapsed)::after {
  background: 0 !important;
  content: "×";
  transform: none;
}
/* ======= Faq css end ======= */

/* ======= contact css start ======= */
.contact .row{
  --bs-gutter-x: 0rem;
}

/* === Left part === */

.contact-overly img{
  width: 100%;
  height: 691px;
}
.contact .contact-overly{
  position: relative;
}
.contact .contact-overly-ani{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(28, 30, 83,0.50);
  padding-top: 96px;
  padding-bottom: 261px;
  padding-left: 96px;
  visibility:hidden;
}

.contact .contact-overly:hover .contact-overly-ani{
  visibility: visible;
}
.contact .contact-overly-ani h3{
  color: #ffffff;
  font-size: 54px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  line-height: 74px;
  width: 464px;
  margin-bottom: 24px;
}
.contact .contact-overly-ani p{
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  line-height: 28px;
  width: 464px;
}

/* === Right part === */

.contact .contact-info{
  width: 100%;
  height: 691px;
  background-color: #1C1E53;
  padding-top: 106px;
  padding-left: 96px;
  padding-right: 96px;
}

.contact .contact-info h4{
  color: #ffffff;
  font-size: 32px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  padding-bottom: 16px;
}
.contact .contact-info p{
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  line-height: 28px;
  width: 432px;
  padding-bottom: 26px;
}
.contact input{
  width: 100%;
  margin-bottom: 16px;
  padding: 18px 32px;
  background: transparent;
  border: 1px solid rgba(255, 255, 255,0.20);
  border-radius: 8px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  outline: 0px;
}
.contact input::placeholder{
  color: rgba(244, 246, 252,0.50);
  font-size: 16px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}

.contact button{
  background: #FCD980;
  width: 100%;
  padding: 16px 0px;
  border: 1px solid transparent;
  border-radius: 41px;
  margin-top: 26px;
  margin-bottom: 33px;
  color: #1B1C2B;
  font-size: 18px;
  font-weight: 600;
  font-family: "Manrope", sans-serif;
  transition: .4s;
}
.contact button:hover{
  background: transparent;
  border-color: #fcd9807e;
  color: white;
}
.contact-info .common-ani {
  display: inline-block;
  margin-bottom: 38px;;
  margin-left: 125px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}
/* ======= contact css end ======= */

/* ======= Blog css start ======= */
.blog {
  margin-top: 66px;
  margin-bottom: 190px;
}
.blog h3 {
  color: #282938;
  font-size: 48px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  padding-bottom: 64px;
}
.blog .p1 {
  color: rgb(40, 41, 56, 0.7);
  font-size: 16px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  padding-top: 40px;
}
.blog h4 {
  color: #282938;
  font-size: 24px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  line-height: 36px;
  width: 405px;
}
.blog .p2 {
  color: rgb(40, 41, 56, 0.7);
  font-size: 16px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  line-height: 28px;
  padding: 16px 0;
  width: 405px;
}
.blog .common-ani {
  color: rgb(40, 41, 56);
  font-size: 16px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}
/* ======= Blog css end ======= */

/* ======= footer css start ======= */
footer{
  width: 100%;
  height: 397px;
  background-color: #1C1E53;
}
footer img{
  margin-top: 100px;
  margin-bottom: 22px;
}
footer p{
  color: rgb(255, 255, 255,0.80);
  font-size: 16px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  line-height: 28px;
  width: 399px;
}
.contact-box{
  width: 517px;
  height: 95px;
  background-color: #FCD980;
  display: flex;
  margin-top: 86px;
  padding-top: 18px;
  padding-left: 37px;
  padding-bottom: 18px;
}

.email p:first-child{
  color: #282938;
  font-size: 18px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  width: auto;
}
.email p:last-child{
  color: rgba(40, 41, 56,0.80);
  font-size: 16px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  width: auto;
}
.call p:first-child{
  color: #282938;
  font-size: 18px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  padding-left: 29px;
}
.call p:last-child{
  color: rgba(40, 41, 56,0.80);
  font-size: 16px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  padding-left: 29px;
}
/* ======= footer css end ======= */
